<div class="center jumbotron">
    <h1>Alpha blog</h1>
    <%= stylesheet_link_tag 'application',media: 'all', 'data-turbolink-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= link_to "Sign up now","#",class: "btn btn-primary btn-lg btn-xlarge" %>
</div>
