<h1 align="center">ListingAll categories</h1>
<div align="center">
<% @categories.each do |category| %>
	<div class="row">
		<div class="well col-md-4 col-md-offset-4">
			<ul class="listing">
			</ul>		
		</div>
	</div>
<% end %>
</div>	