<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="">The complete</a>
      by <a href="http://a.co">JD</a>
      
    </small>
    <ul>
      <li><%= link_to "About", about_path %> </li>
    </ul>
  </footer>
</div>